body {
    background-color: black;
    color: white;
    font-family: "游ゴシック", "ヒラギノ角ゴ ProN", sans-serif;
}
header h1{
    text-align: center;
    font-size: 60px;
    margin-top:0px;
}
nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width:100%;
}
#info {
    text-align: center;
}
#info h2{
    margin-top:40px;
}
#info img{
    width: 25%;
}
